<!-- <style class="ng-scope">
*, body, button, input, textarea, select {
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img {
border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym { border:0;}
</style>
<style type="text/css" class="ng-scope">
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%; /* aspect ratio */
vertical-align: top;
overflow: hidden;
float:left;
}
.svg-content-responsive {
display: inline-block;
position: absolute;
top: 0;
left: 0;
margin: 0;
border:0;
}
</style>
 -->
<!-- <div id="chartid" class="ng-scope">
<div>
 -->
<svg width="1552" height="535" viewBox="0 0 1552 535">
<rect x="0" y="0" height="20" width="753.3980582524272" style="fill: rgb(129, 190, 214);"></rect>
<rect x="753.3980582524272" y="0" height="20" width="180.81553398058253" style="fill: rgb(210, 154, 223);"></rect>
<rect x="934.2135922330096" y="0" height="20" width="180.81553398058253" style="fill: rgb(216, 145, 185);"></rect>
<rect x="1115.0291262135922" y="0" height="20" width="135.6116504854369" style="fill: rgb(233, 145, 129);"></rect>
<rect x="1250.6407766990292" y="0" height="20" width="301.3592233009709" style="fill: rgb(152, 172, 122);"></rect>
</svg>

 Here
<svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 1552 535" xmlns="http://www.w3.org/2000/svg" style:"z-order:99999">
<rect x="0" y="0" height="20" width="753.3980582524272" style="fill: rgb(129, 190, 214);"></rect>
<rect x="753.3980582524272" y="0" height="20" width="180.81553398058253" style="fill: rgb(210, 154, 223);"></rect>
<rect x="934.2135922330096" y="0" height="20" width="180.81553398058253" style="fill: rgb(216, 145, 185);"></rect>
<rect x="1115.0291262135922" y="0" height="20" width="135.6116504854369" style="fill: rgb(233, 145, 129);"></rect>
<rect x="1250.6407766990292" y="0" height="20" width="301.3592233009709" style="fill: rgb(152, 172, 122);"></rect>
</svg>
<!-- </div>
</div>
 -->
