<md-content>
	<div class="col-sm-12 col-md-12 main" id="allissues">

		<div id="open-issues-panel" class="panel panel-default">
			<div class="panel-heading"><h2>Open Opportunities ({{ v.openIssues.length }})</h2></div>
			<div class="panel-body">
				<div class="table-responsive-bleh">
					<table class="table table-striped">
						<thead>
						<tr>
							<th style="width: 10%">Partner</th>
							<th style="width: 20%">Issue</th>
							<th style="width: 10%;" class="hidden-phone"></th>
							<th>Earn</th>
							<th class="hidden-phone">Skills Required</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="issue in v.openIssues">
							<td>{{issue.program}}</td>
							<td><a target="_parent" href="{{issue.html_url}}">{{issue.title}}</a></td>
							<td class="hidden-phone" style="text-align: left">
								<span style="background-color:#128A0C" class="label"> <i class="fa fa-tag"></i> help wanted </span>
							</td>
							<td>
								<span ng-if="issue.earn.length > 0" ng-repeat="name in issue.earn" style="background-color:#0052cc" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
								<span ng-if="issue.earn.length === 0" style="color:red" class="label">
									<i class="fa fa-heart"></i>
								</span>
							</td>
							<td class="hidden-phone">
								<span ng-repeat="name in issue.skill" style="background-color:#eb6420" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
							</td>
							<td></td>
						</tr>
						<tr ng-if="v.openIssues.length === 0">
							<td colspan="6">There are currently no open issues.</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="assigned-issues-panel" class="panel panel-default" ng-show="v.assignedIssues.length > 0">
			<div class="panel-heading"><h2>In Progress Opportunities ({{v.assignedIssues.length}})</h2></div>
			<div class="panel-body">
				<div class="table-responsive-bleh">
					<table class="table table-striped">
						<thead>
						<tr>
							<th style="width: 10%">Partner</th>
							<th style="width: 20%">Issue</th>
							<th style="width: 10%;" class="hidden-phone"></th>
							<th>Earn</th>
							<th class="hidden-phone">Skills Required</th>
							<!-- <th style="width: 10%;" class="hidden-phone">Claimed by</th> -->
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="issue in v.assignedIssues">
							<td>{{issue.program}}</td>
							<td><a target="_parent" href="{{issue.html_url}}">{{issue.title}}</a></td>
							<td style="text-align: left" class="hidden-phone">
								<span style="background-color:#128A0C" class="label"> <i class="fa fa-tag"></i> help wanted </span>
							</td>
							<td>
								<span ng-if="issue.earn.length > 0" ng-repeat="name in issue.earn" style="background-color:#0052cc" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
								<span ng-if="issue.earn.length === 0" style="color:red" class="label">
									<i class="fa fa-heart"></i>
								</span>
							</td>
							<td class="hidden-phone">
								<span ng-repeat="name in issue.skill" style="background-color:#eb6420" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
							</td>
<!-- 							<td class="hidden-phone">
								<img alt="{{issue.assignee.login}}" style="width: 48px; height: 48px; border-radius: 5px;" src="{{issue.assignee.avatar_url }}"/>
							</td>
 -->						</tr>
						<tr ng-if="v.assignedIssues.length === 0">
							<td colspan="5">There are currently no in progress issues.</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="blocked-issues-panel" class="panel panel-default" ng-show="v.blockedIssues.length > 0">>
			<div class="panel-heading"><h2>Blocked Opportunities ({{v.blockedIssues.length}})</h2></div>
			<div class="panel-body">
				<div class="table-responsive-bleh">
					<table class="table table-striped">
						<thead>
						<tr>
							<th style="width: 10%">Partner</th>
							<th style="width: 20%">Issue</th>
							<th style="width: 10%;" class="hidden-phone"></th>
							<th>Earn</th>
							<th class="hidden-phone">Skills Required</th>
							<th style="width: 10%;" class="hidden-phone">Claimed by</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="issue in v.blockedIssues">
							<td>{{issue.program}}</td>
							<td><a target="_parent" href="{{issue.html_url}}">{{issue.title}}</a></td>
							<td style="text-align: left" class="hidden-phone">
								<span style="background-color:#128A0C" class="label"> <i class="fa fa-tag"></i> help wanted </span>
							</td>
							<td>
								<span ng-if="issue.earn.length > 0" ng-repeat="name in issue.earn" style="background-color:#0052cc" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
								<span ng-if="issue.earn.length === 0" style="color:red" class="label">
									<i class="fa fa-heart"></i>
								</span>
							</td>
							<td class="hidden-phone">
								<span ng-repeat="name in issue.skill" style="background-color:#eb6420" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
							</td>
							<td class="hidden-phone">
								<img alt="{{issue.assignee.login}}" style="width: 48px; height: 48px; border-radius: 5px;" src="{{issue.assignee.avatar_url }}"/>
							</td>
						</tr>
						<tr ng-if="v.blockedIssues.length === 0">
							<td colspan="6">There are currently no blocked issues.</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="closed-issues-panel" class="panel panel-default">
			<div class="panel-heading"><h2>Closed Opportunities ({{v.closedIssues.length}})</h2></div>
			<div class="panel-body">
				<div ng-if="v.closedIssues && v.closedIssues.length>0">
					<div class="table-responsive-bleh">
						<table class="table table-striped">
						<thead>
						<tr>
							<th style="width:10%">Partner</th>
							<th style="width:20%">Issue</th>
							<th style="width:10%" class="hidden-phone">Closed Date</th>
							<!--column alignment hack - cover your eyes!-->
							<th style="width:11%"  >Earned</th>
							<th class="hidden-phone">Skills Required</th>
							<th style="width:10%" ></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="issue in v.closedIssues">
							<td>{{issue.program}}</td>
							<td><a target="_parent" href="{{issue.html_url}}">{{issue.title}}</a>
							</td>
							<td class="hidden-phone" style="white-space: nowrap">
								{{issue.closed_at | date:'yyyy-MM-dd' }}
							</td>
							<td>
								<span ng-if="issue.earn.length > 0" ng-repeat="name in issue.earn" style="background-color:#0052cc" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
								<span ng-if="issue.earn.length === 0" style="color:red" class="label">
									<i class="fa fa-heart"></i>
								</span>
							</td>
							<td class="hidden-phone">
								<span ng-repeat="name in issue.skill" style="background-color:#eb6420" class="label">
									<i class="fa fa-tag"></i> {{name}}
								</span>
							</td>
							<td></td>
						</tr>
						<tr ng-if="v.closedIssues.length === 0">
							<td colspan="6">There are currently no completed issues.</td>
						</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

</md-content>

